/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Livvic";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), 
  url("../fonts/livvic-v13-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), 
  url("../fonts/livvic-v13-latin-700.woff") format("woff"); 
}


/* GENERAL */
a{
  display: inline-block;
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
*,
*::before,
*::after{
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


html{
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Livvic", "Arial", sans-serif;
  
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}


.site-header { 
  position: relative; 
  background-color: #014E56; 
  padding-top: 73px; 
  padding-bottom: 250px; 
} 

.site-header__box { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -ms-flex-align: center; 
  align-items: center; 
  margin-bottom: 129px; 
} 

.logo { 
  margin-right: 40px; 
} 

.site-header__list { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -ms-flex-align: center; 
  align-items: center; 
  padding: 0; 
  margin: 0; 
  list-style: none; 
  margin-right: 570px; 
} 

.site-header__link { 
  font-weight: 600; 
  font-size: 18px; 
  line-height: 28px; 
  color: #FFFFFF; 
  text-decoration: none; 
  margin-left: 40px; 
  -webkit-transition: .3s; 
  -o-transition: .3s; 
  transition: .3s; 
} 

.site-header__link:hover { 
  color: #F67E7E; 
} 

.site-header__link2 { 
  font-weight: 600; 
  font-size: 18px; 
  line-height: 28px; 
  color: #FFFFFF; 
  padding: 10px 32px; 
  border: 2px solid #FFFFFF; 
  border-radius: 24px; 
  text-decoration: none; 
  -webkit-transition: .3s; 
  -o-transition: .3s; 
  transition: .3s; 
} 

.site-header__link2:hover { 
  color: #002529; 
  background-color: #fff; 
} 

.site-header__link2:active { 
  background-color: transparent; 
  border: 2px solid #002529; 
  color: #002529; 
} 

.end-box { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -ms-flex-align: center; 
  align-items: center; 
} 

.end-box__title { 
  font-weight: 700; 
  font-size: 100px; 
  line-height: 100px; 
  color: #FFFFFF; 
  margin: 0; 
  margin-right: 110px; 
} 

.site-header__img { 
  position: absolute; 
  z-index: 10; 
  top: calc(50% - 90px); 
  left: calc(50% - 730px); 
} 

.end-box__span { 
  color: #F67E7E; 
} 

.end-box__info { 
  width: 445px; 
} 

.end-box__text { 
  font-weight: 600; 
  font-size: 18px; 
  line-height: 28px; 
  color: #FFFFFF; 
  margin: 0; 
} 

.end-box__text::before { 
  display: block; 
  content: ""; 
  width: 50px; 
  height: 4px; 
  background-color: #79C8C7; 
  margin-bottom: 79px; 
} 

.site-header__after { 
  position: absolute; 
  bottom: 0; 
  left: calc(50% + 200px); 
} 




.build{ 
  padding-top: 140px; 
  padding-bottom: 140px; 
  background-color: #012f34; 
  background-image: url(../images/section-after\ \(1\).svg); 
  background-position: calc(50% + 690px) calc(50% + 190px); 
  background-repeat: no-repeat; 
  
} 
.build__box{ 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-pack: justify; 
  -ms-flex-pack: justify; 
  justify-content: space-between; 
} 
.build__themebox{ 
  position: relative; 
  width: 445px; 
} 
.build__themebox::before{ 
  position: absolute; 
  top: -54px; 
  content: ""; 
  display: block; 
  width: 50px; 
  height: 4px; 
  background-color: #F67E7E; 
} 
.build__theme{ 
  margin: 0; 
  font-weight: 700; 
  font-size: 48px; 
  line-height: 48px; 
  color: #fff; 
} 
.build__item{ 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  margin-bottom: 32px; 
} 
.build__item:last-child{ 
  margin-bottom: 0; 
} 
.build__itembox{ 
  width: 445px; 
} 
.build__item::before{ 
  content: ""; 
  display: block; 
  margin-right: 23px; 
  background-image: url("../images/Experienced.svg"); 
  background-repeat: no-repeat; 
  width: 72px; 
  height: 72px; 
}

.build__item:nth-child(2)::before{ 
  background-image: url("../images/easy.svg"); 
} 
.build__item:nth-child(3)::before{ 
  background-image: url("../images/enhansed.svg"); 
} 
.build__minitheme{ 
  margin: 0; 
  margin-bottom: 16px; 
  font-weight: 700; 
  font-size: 18px; 
  line-height: 28px; 
  color: #F67E7E; 
} 
.build__minitext{ 
  margin: 0; 
  font-weight: 600; 
  font-size: 15px; 
  line-height: 25px; 
  color: #fff; 
  opacity: 0.8; 
  
}

.for {
  background-color: #004047;
  background-image: url("../images/for-before.svg"), url("../images/for-after.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 151px;
}

.for__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 92px;
}

.for__span {
  color: #79C8C7;
}

.for__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.for__item {
  background-image: url("../images/“.svg");
  background-position: top 5px center;
  background-size: 67px 56px;
  background-repeat: no-repeat;
  width: 350px;
  text-align: center;
  padding-top: 36px;
}


.for__item:nth-child(2) {
  margin: 0 30px;
}

.for__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 24px;
}


.for_str {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin: 0;
  margin-bottom: 2px;
}

.for__text2 {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.for__text3 {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.for__text4 {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.for__text2::after {
  display: block;
  content: "";
  width: 62px;
  height: 62px;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 50%;
  background-image: url("../images/kady.svg");
  background-repeat: no-repeat;
}

.for__text3::after {
  display: block;
  content: "";
  width: 62px;
  height: 62px;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 50%;
  background-image: url("../images/aiysha.svg");
  background-repeat: no-repeat;
}

.for__text4::after {
  display: block;
  content: "";
  width: 62px;
  height: 62px;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 50%;
  background-image: url("../images/arthur.svg");
  background-repeat: no-repeat;
}

.site-article{
  padding: 76px 0px;
  background-color: #F67E7E;
  background-image: url("../images/ready-to-started-bg\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 620px) calc(50% + 80px);
}
.site-article__box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-article__theme{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
}
.site-article__link{
  text-decoration: none;
  padding: 10px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012f34;
  border: 2px solid #012F34;
  border-radius: 24px;
}
.site-article__link:hover{
  border: 2px solid transparent;
  color: #fff;
  background-color: #012f34;
}
.site-article__link:active{
  opacity: 0.5;
  background-color: transparent;
  border: 2px solid #012F34;
}


.site-footer{
  padding: 48px 0px;
  background-color: #002529;
}
.site-footer__box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-footer__logo{
  margin-bottom: 25px;
}
.site-footer__headerlist{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 140px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-footer__headeritemlink{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.site-footer__headeritemlink:hover{
  color: #F67E7E;
}

.site-footer__address{
  width: 445px;
  font-style: normal;
}
.site-footer__addresstext{
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}
.footer-socials{
  width: 255px;
}
.footer-socials__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 104px;
  margin-left: auto;
  margin-bottom: 51px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-socials__item{
  margin-right: 16px;
}
.footer-socials__item:last-child{
  margin-right: 0;
}
.footer-socials__item> a > svg{
  color: #fff;
}

.footer-socials__text{
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}
.footer-socials__link > svg:hover{
  color:#F67E7E;
}

.end-box__title--size {
  font-size: 64px;
}

.end-box__info--size {
  width: 600px;
  margin-left: auto;
}

.about-img {
  position: absolute;
  bottom: calc(50% - 350px);
  left: calc(50% + 612px);
}

.meet {
  position: relative;
  background-color: #004047;
  padding-top: 140px;
  padding-bottom: 140px;
}

.meet__before {
  position: absolute;
  top: 0;
  left: 0;
}

.meet__after {
  position: absolute;
  right: 0;
  bottom: 0;
}

.meet_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.meet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.meet__item {
  position: relative;
  width: 350px;
  text-align: center;
  margin-bottom: 76px;
  cursor: pointer;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.span-plus:hover ~ .meet__box2{
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  z-index: 50;
}

.meet__item:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

.meet__item:nth-child(5) {
  margin-right: 30px;
  margin-left: 30px;
}

.meet__box1 {
  position: relative;
  z-index: 10;
  background-image: url("../images/niki.svg");
  background-position: top 32px center;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  width: 350px;
  background-color: #012F34;
  padding-top: 144px;
  padding-bottom: 56px;
}

.meet__box2 {
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  top: 0;
  left: 0;
  width: 350px;
  padding-top: 40px;
  padding-bottom: 63px;
  background: #002529;
  -webkit-transition: -webkit-transform .7s ease;
  transition: -webkit-transform .7s ease;
  -o-transition: transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .7s ease;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.meet__text {
  display: block;
  width: 254px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-top: 8px;
  margin-left: 48px;
  margin-bottom: 32px;
}

.meet__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meet__likn {
  display: block;
}

.meet__likn {
  margin-right: 16px;
}

.meet__box1-2 {
  position: relative;
  z-index: 10;
  background-image: url("../images/cris.svg");
  background-position: top 32px center;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  width: 350px;
  background-color: #012F34;
  padding-top: 144px;
  padding-bottom: 56px;
}

.meet__box1-3 {
  position: relative;
  z-index: 10;
  background-image: url("../images/cruz.svg");
  background-position: top 32px center;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  width: 350px;
  background-color: #012F34;
  padding-top: 144px;
  padding-bottom: 56px;
}

.meet__box1-4 {
  position: relative;
  z-index: 10;
  background-image: url("../images/drake.svg");
  background-position: top 32px center;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  width: 350px;
  background-color: #012F34;
  padding-top: 144px;
  padding-bottom: 56px;
}

.meet__box1-5 {
  position: relative;
  z-index: 10;
  background-image: url("../images/grif.svg");
  background-position: top 32px center;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  width: 350px;
  background-color: #012F34;
  padding-top: 144px;
  padding-bottom: 56px;
}

.meet__box1-6 {
  position: relative;
  z-index: 10;
  background-image: url("../images/aden.svg");
  background-position: top 32px center;
  background-size: 96px 96px;
  background-repeat: no-repeat;
  width: 350px;
  background-color: #012F34;
  padding-top: 144px;
  padding-bottom: 56px;
}

.for_str1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin: 0;
  margin-bottom: 2px;
}

.for__text21 {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.span-plus {
  position: absolute;
  top: calc(50% + 105px);
  left: calc(50% - 35px);
  z-index: 80;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #F67E7E;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.span-plus:hover {
  background-color: #79C8C7;
<<<<<<< HEAD
  transform: rotate(45deg);
}

.site-header--pading {
  padding-bottom: 0;
}

.contact {
  padding-bottom: 142px;
  background-color: #014E56;
}

.contact::before {
  display: block;
  content: "";
  position: absolute;
  top: 250px;
  left: 0;
  width: 200px;
  height: 200px;
  background-image: url("../images/header-before\ \(1\).svg");
  background-repeat: no-repeat;
}

.contact::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: -45px;
  width: 100px;
  height: 200px;
  background-image: url("../images/about-after.svg");
  background-repeat: no-repeat;
}

.contact__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__start {
  position: relative;
  width: 540px;
}

.contact__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 16px;
}

.contact__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  margin: 0;
}

.contact__list {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.contact__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-left: 80px;
}

.contact__item::before {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  left: -23px;
  width: 72px;
  height: 72px;
  background-image: url("../images/Experienced.svg");
  background-repeat: no-repeat;
}

.contact__item:nth-child(2)::before {
  background-image: url("../images/easy.svg");
}

.contact__item:nth-child(3)::before {
  background-image: url("../images/enhansed.svg");
}

.contact__item:nth-child(2) {
  margin: 52px 0;
}

.contact__item-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.site-form__inp {
  width: 540px;
  background-color: transparent;
  border: none;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
}

.site-form__inp:focus {
  border: 1px solid #fafafa;
}

.site-form__inp::placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  opacity: 0.4;
}

.site-form__inp:not(:placeholder-shown):not(:focus):invalid  {
  border-bottom-color: #F67E7E;
  color: #F67E7E;
}

.site-form__inp:not(:placeholder-shown):not(:focus):valid  {
  border-bottom: 1px solid #79C8C7;
}

.site-form__inp:not(:placeholder-shown):not(:focus):invalid ~ .site-form__spn {
  opacity: 1;
}

.site-form__spn {
  display: block;
  margin-top: 8px;
  font-size: 10px;
  line-height: 12px;
  color: #F67E7E;
  opacity: 0;
}

.site-form__textare {
  width: 540px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
}

.site-form__textare:focus {
  border: 1px solid #fafafa;
}


.site-form__textare:not(:placeholder-shown):not(:focus):valid  {
  border-bottom: 1px solid #79C8C7;

}

.site-form__textare:not(:placeholder-shown):not(:focus):invalid  {
  border-bottom-color: #F67E7E;
  color: #F67E7E;
}

.site-form__textare:not(:placeholder-shown):not(:focus):invalid ~ .site-form__spn {
  opacity: 1;
}

.site-form__textare::placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  opacity: 0.4;
}

.btn-submit {
  padding: 10px 32px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  cursor: pointer;
  margin-top: 24px;
}
=======
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.our-clients{
  padding: 140px 0px;
  background-color: #012F34;
  background-image: url("../images/clients-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 620px) calc(50% - 120px);
}
.our-clients__theme{
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.our-clients__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
>>>>>>> 42f57bf70be963a2b88d07a6cd1e92bc1585fb00
